body {
    background: #6648B1;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}

header {
    background: url("../images/bg-mobile.svg") no-repeat;
    background-size: cover;
}

main {
    max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

img {
    width: 80%;
}

p {
    line-height: 2rem;
    font-size: 1.125rem;
    margin: 20px 0 30px;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-top: 50px;
}

.logo {
    width: 35%;
}

.logo img {
    padding: 20px 0 50px;
    margin-left: 40px;
    margin-bottom: 40px;
}


button {
      background: white;
      text-decoration: none;
      border: none;
      color: #6648B1;
      padding: 1em 5em;
      border-radius: 50px;
      margin-bottom: 60px;
      font-weight: bold;
      font-size: 1rem;
  }

i {
    border: 1px  solid white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    vertical-align: middle; 
    padding: 10px;
    text-align: center;
    margin: 20px 5px;
}

